@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply bg-white text-black font-dm min-h-screen 
		text-[15px] leading-[25px];
	}

	main {
		@apply mx-auto grid grid-flow-row items-center max-w-[1920px];
	}

	main {
		/* @apply bg-white text-black gap-16 sm:gap-28 md:gap-44; */
	}

	main > section {
		@apply w-full relative grid grid-flow-row items-center;
	}

	p {
		@apply opacity-70;
	}

	h1 {
		@apply font-bold uppercase text-[40px] leading-[48px] tracking-[4.17px];
	}
	h2 {
		@apply font-bold uppercase text-[24px] leading-[25px] tracking-[4.17px];
	}

	h3 {
		@apply font-bold text-[18px] leading-[25px];
	}
	h4 {
		@apply font-bold uppercase text-[12px] leading-[16px] tracking-[2px];
	}
}

@layer components {
	/* font  */

	/* layout */

	.gridc {
		@apply grid place-items-center;
	}

	.flex-c6 {
		@apply flex flex-col gap-6;
	}

	.ctn {
		@apply max-w-[1440px] w-full mx-auto md:px-12 xl:px-32;
	}

	.modal {
		position: fixed;
		inset: 0;
		z-index: 39;
	}

	/* icon */

	.icon {
		@apply w-[26px] h-[26px] md:w-[30px] md:h-[30px];
	}

	.icon-logo {
		@apply w-[160px] h-[26px] md:w-[160px] md:h-[40px];
	}
}

@layer utilities {
}
