@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		/* @apply bg-black text-white font-manrope text-[15px] leading-[25px]; */
	}

	header,
	main,
	footer {
		/* @apply mx-auto grid grid-flow-row items-center; */
	}

	main {
		/* @apply bg-white text-black gap-16 sm:gap-28 md:gap-44; */
	}

	main > section {
		@apply ctn w-full relative px-6;
	}

	/* h1 {
		@apply md:font-bold md:uppercase md:text-[56px] md:leading-[58px] md:tracking-[2px]
		font-bold uppercase text-[40px] leading-[44px] tracking-[1.5px];
	}
	h2 {
		@apply lg:font-bold lg:uppercase lg:text-[40px] lg:leading-[44px] lg:tracking-[1.5px]
		font-bold uppercase text-[32px] leading-[36px] tracking-[1.15px];
	}
	h3 {
		@apply font-bold uppercase text-[32px] leading-[36px] tracking-[1.15px];
	}
	h4 {
		@apply font-bold uppercase text-[28px] leading-[38px] tracking-[2px];
	}
	h5 {
		@apply font-bold uppercase text-[24px] leading-[33px] tracking-[1.7px];
	}
	h6 {
		@apply font-bold uppercase text-[18px] leading-[24px] tracking-[1.3px];
	} */
}

@layer components {
	/* font  */

	/* layout */

	.gridc {
		@apply grid place-items-center;
	}

	.flex-c6 {
		@apply flex flex-col gap-6;
	}
	/* .home-landing {
		height: calc(100vh - 4rem);
		min-height: 32rem;
	} */

	.ctn {
		@apply max-w-[1440px] w-full mx-auto;
	}

	/* icon */

	.icon {
		@apply w-[24px] h-[24px] md:w-[30px] md:h-[30px];
	}

	.icon-logo {
		@apply w-[110px] h-[24px] md:w-[160px] md:h-[40px];
	}
}

@layer utilities {
	/* .noArrows::-webkit-outer-spin-button,
	.noArrows::-webkit-inner-spin-button {
		-webkit-appearance: none;
		-moz-appearance: textfield;
	}

	.noArrows {
		-webkit-appearance: none;
		-moz-appearance: textfield;
	} */
}
