@tailwind base;
@tailwind components;
@tailwind utilities;

/* Main Accent
HEX / RGB / HSL :
#FFC593, 	rgb(255, 197, 147),	28°, 100%, 79% #BC7198, 	rgb(188, 113, 152),	329°, 36%, 59% #5A77FF, 	rgb(90, 119, 255)	229°, 100%, 67%
Pure Black
Light Grey
Pure White
HEX : #000000
RGB : rgb(0, 0, 0) HSL : hsl(0°, 0%, 0%)
HEX : #DFDFDF
RGB : rgb(223, 223, 223) HSL : hsl(0°, 0%, 87%)
HEX : #FFFFFF
RGB : rgb(255, 255, 255) HSL : hsl(0°, 0%, 100%) */

@layer base {
	body {
		@apply bg-white text-black font-dm min-h-screen
		/* text-[15px] leading-[25px] */;
	}

	header,
	main,
	footer {
		@apply mx-auto grid grid-flow-row items-center;
	}

	main {
		/* @apply bg-white text-black gap-16 sm:gap-28 md:gap-44; */
	}

	main > section {
		@apply ctn w-full relative grid grid-flow-row items-center;
	}

	h1 {
		@apply font-bold uppercase text-[40px] leading-[48px] tracking-[4.17px]
		  /* md:text-[56px] md:leading-[58px] md:tracking-[2px] */;
	}
	h2 {
		@apply font-bold uppercase text-[24px] leading-[25px] tracking-[4.17px];
	}

	h3 {
		@apply font-bold uppercase text-[18px] leading-[25px];
	}
	h4 {
		@apply font-bold uppercase text-[12px] leading-[16px] tracking-[2px];
	}
}

@layer components {
	/* font  */

	/* layout */

	.gridc {
		@apply grid place-items-center;
	}

	.flex-c6 {
		@apply flex flex-col gap-6;
	}
	/* .home-landing {
		height: calc(100vh - 4rem);
		min-height: 32rem;
	} */

	.ctn {
		@apply max-w-[1440px] w-full mx-auto;
	}

	/* icon */

	.icon {
		@apply w-[26px] h-[26px] md:w-[30px] md:h-[30px];
	}

	.icon-logo {
		@apply w-[134px] h-[26px] md:w-[160px] md:h-[40px];
	}
}

@layer utilities {
	/* .noArrows::-webkit-outer-spin-button,
	.noArrows::-webkit-inner-spin-button {
		-webkit-appearance: none;
		-moz-appearance: textfield;
	}

	.noArrows {
		-webkit-appearance: none;
		-moz-appearance: textfield;
	} */
}
